{% extends "base.html" %}
			{% block content %}
			<div class="container pt-3">
				<p>Program obliczy podstawowe statystyki dla sekwencji nukleotydowej takie jak:
				<ul>
					<li>długość sekwencji</li>
					<li>% CG</li>
					<li>reverse component</li>
				</ul></p>
				<p>Na obecnym etapie program umożliwia analizę pojedyńczej sekwencji. Sekwencje podane w kolejnych liniach zostaną doklejone do sekwencji w pierwszej lini, statystyki zostaną obliczone dla tak utworzonej sekwencjo.</p>
				<form action="{{url_for('sek_stat')}}">
					<label for="seq">Wklej sekwencje:</label><br />
					<textarea name="seq" rows="15" cols="100">ATCG....</textarea>
					<br />
					<input type="submit" value="Analizuj">
				</form>
			</div>
			{% endblock %}
